out.out
test.out
vent
'/home/machina/Documents/machine_learning/college/engine/tutorials/Crucial Conversations Tools for Talking When Stakes Are High ( PDFDrive ).pdf' 
__pycache__
python/test.py
python/src/__pycache__
